services:
  nestapp:
    image: rodraven/nest-app:latest
    ports:
      - "3001:3000"
    env_file:
      - .env.production
    depends_on:
      - postgresdb

  postgresdb:
    image: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env.production
volumes:
  pgdata: